// Styling for the masthead

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});

  @media only screen and (min-width: 1921px) {
    background: linear-gradient(to bottom, #{fade-out($brown, .7)} 0%,#{fade-out($brown, .3)} 100%), url('/img/header/2560_1440.jpg');
  }

  @media only screen and (min-width: 1281px) and (max-width: 1920px) {
    background: linear-gradient(to bottom, #{fade-out($brown, .7)} 0%,#{fade-out($brown, .3)} 100%), url('/img/header/1920_1080.jpg');
  }

  @media only screen and (min-width: 993px) and (max-width: 1280px) {
    background: linear-gradient(to bottom, #{fade-out($brown, .7)} 0%,#{fade-out($brown, .3)} 100%), url('/img/header/1280_720.jpg');
  }

  @media only screen and (min-width:601px) and (max-width: 992px) {
    background: linear-gradient(to bottom, #{fade-out($brown, .7)} 0%,#{fade-out($brown, .3)} 100%), url('/img/header/992_608.jpg');
  }

  @media only screen and (max-width: 600px) {
    background: linear-gradient(to bottom, #{fade-out($brown, .7)} 0%,#{fade-out($brown, .3)} 100%), url('/img/header/600_613.jpg');
  }

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    font-size: 3rem;
  }
  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      font-size: 1.4rem;
    }
    h1 {
      font-size: 4rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 5rem;
    }
  }
}
